{% extends 'base.html' %}

{% block title %}
Edit Recommended Paper
{% endblock %}

{% block content %}
    <h1>Edit Recommended Paper</h1>
    <div class="form-wrapper">
        <form action="{{ url_for('edit_recommended_paper', paper_id=paper.id) }}" method="post">
            <label for="title">Paper Title:</label>
            <input type="text" id="title" name="title" value="{{ paper.title }}" required>
            <label for="author">Author:</label>
            <input type="text" id="author" name="author" value="{{ paper.author }}" required>
            <button type="submit" class="save-changes-button">Save Changes</button>
        </form>
    </div>
{% endblock %}

