{% extends 'base.html' %}

{% block title %}
Recommended Paper Submission
{% endblock %}

{% block content %}
    <h1>Recommended Paper Submission</h1>
    <form action="{{ url_for('recommended_paper_submission') }}" method="post">
        <label for="title">Paper Title:</label>
        <input type="text" id="title" name="title" required>
        <label for="author">Author:</label>
        <input type="text" id="author" name="author" required>
        <button type="submit">Submit</button>
    </form>
    <h2>Submitted Recommended Papers</h2>
    <table class="paper-table">
        <thead>
            <tr>
                <th>Paper Title</th>
                <th>Author</th>
                <th>Discussed</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
          {% for paper in recommended_papers %}
          <tr>
              <td><a href="https://scholar.google.com/scholar?q={{ paper.title|urlencode }}" target="_blank">{{ paper.title }}</a></td>
              <td>{{ paper.author }}</td>
              <td>
                  <a class="edit-button" href="{{ url_for('toggle_discussed', paper_id=paper.id) }}">
                      {% if paper.discussed %}
                          Discussed
                      {% else %}
                          Not Discussed
                      {% endif %}
                  </a>
              </td>
              <td>
                  <a class="edit-button" href="{{ url_for('edit_recommended_paper', paper_id=paper.id) }}">Edit</a> |
                  <a class="edit-button" href="{{ url_for('delete_recommended_paper', paper_id=paper.id) }}">Delete</a>
              </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
{% endblock %}

